<div class="progress-arrows">
  <div id="arrow1" class="arrow active">
    <h4 class="align-middle">1. Sign In</h4>
  </div>
  <div id="arrow2" class="arrow">
    <h4 class="align-middle">2. Shipping</h4>
  </div>
  <div id="arrow3" class="arrow">
    <h4 class="align-middle">3. Payment</h4>
  </div>
  <div id="arrow4" class="arrow">
    <h4 class="align-middle">4. Review</h4>
  </div>
</div>
