<div class="row">
  <script type="text/javascript">
    $(function() {
      $("#arrow4").addClass("active");
      $("#arrow1").removeClass("active");
    })
  </script>
  <%= render 'progress', active: "arrow3" %>
  <div class="col-md-8 col-md-offset-2">

  </div>
</div>
